# Include production dependencies
-r requirements.txt

# Development tools
ipython==8.29.0
django-extensions==3.2.3

# Testing utilities
pytest-mock==3.14.0
coverage==7.6.9

# Development tools
pre-commit==4.0.1

